body {
  background-color: #E8EAF6;
  font-family: "Courier New";
}

header {
  background-color: #303F9F;
  color: white;
  padding: 0.01% 2%;
}

h1 {
  background-color: #1A237E;
  color: white;
  padding: 1% 2%;
  font-size: 270%
}

h2 {
  font-size: 200%
}

h4 {
  font-size: 120%
}

.photoHeader {
  overflow: auto;
  padding: 2% 1%;
  font-size: 120%;

  text-align: center;
}

.photo {
  width: 20%;
  height: 20%;
  float: left;
  padding: 1% 2%;
}

.listA {
  color: black;
}

nav {
  margin: 1%;
  padding: 1% 2%;
  text-align: right;
  background-color: #9FA8DA;
}

.linkButton:link, .linkButton:visited {
  background-color: #536DFE;
  color: white;
  padding: 0.7% 1%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.linkButton:hover, .linkButton:active {
  background-color: #304FFE;
  text-decoration: none;
}

main {
  padding: 1% 2%;
}

.mainSection {
  margin: 2%;
  padding: 1% 3%;
  background-color: #C5CAE9;
}

h3 {
  font-size: 140%;
}
